#=============== Active Directory Winbind Settings ===========
{% if config.enable %}
security = ads
{% endif %}
realm = {{ config.domain }}
allow trusted domains = yes
idmap config * : range = {{ config.idstart }}-{{ config.idend }}
winbind cache time = {{ config.cachetime }}
winbind use default domain = {{ config.defaultdomain | to_bool | yesno }}
winbind offline logon = false
winbind enum users = yes
winbind enum groups = yes
winbind separator = /
winbind nested groups = yes
winbind refresh tickets = yes
winbind rpc only = {{ config.rpconly | to_bool | yesno }}